[submodule "brand"]
	path = brand
	url = git@github.com:project-81/brand.git
[submodule "config"]
	path = config
	url = git@github.com:project-81/config.git
[submodule "vkottler_config"]
	path = vkottler_config
	url = git@github.com:vkottler/config.git
